extends layout
block contenido
    .contenido-principal
        h1 #{nombrePagina}    
        .contenedor-acciones
            a(href= "#" class="boton") Editar Proyecto
            button#eliminar-proyecto(type="button" class="boton eliminar") Eliminar